{% extends "base.html" %}    


{% block style %}

{% endblock style %}


{% block content %}
<!--<script>-->
    <!--var x = document.getElementById("demo");-->
<!--function getLocation() {-->
    <!--if (navigator.geolocation) {-->
        <!--navigator.geolocation.getCurrentPosition(showPosition);-->
    <!--} else {-->
        <!--x.innerHTML = "Geolocation is not supported by this browser.";-->
    <!--}-->
<!--}-->
<!--</script>-->
<script>
window.lat = 43.073200;
window.lng = -89.395114;

function circlePoint(time) {
  if(window.lat < 43.067000) {
    return {lat:window.lat, lng:window.lng};
  }
  if(window.lng < -89.400650) {
    return {lat:window.lat - 0.000050, lng:window.lng};
  } else {
    return {lat:window.lat, lng:window.lng - 0.000050};
  }
};

var initialize = function() {
  map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:17});
  mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
};
window.initialize = initialize;

var redraw = function(payload) {
  lat = payload.message.lat;
  lng = payload.message.lng;
  map.setCenter({lat:lat, lng:lng, alt:0});
  mark.setPosition({lat:lat, lng:lng, alt:0});
};


var pnChannel = "map-channel";
var pubnub = new PubNub({
  publishKey:   'pub-c-52b44518-5aeb-4d5e-9354-297e4f07cb49',
  subscribeKey: 'sub-c-d8b02a2a-e5bb-11e8-bf53-0a39541862c0'
});
pubnub.subscribe({channels: [pnChannel]});
pubnub.addListener({message:redraw});

setInterval(function() {
  pubnub.publish({channel:pnChannel, message:circlePoint(new Date().getTime()/1000)});
}, 500);

</script>
<label for="dashboard" class="dashboard-text text-center">Dashboard</label>
<div class="container" id="dashboard">
  <div class="col-md-6">
    <label for="map-canvas" class="form-text">Google Map </label>
    <div id="map-canvas" style="width:30em;height:20em"></div>
  </div>
  <div class="col-md-6">
    <div class="row text-center d-flex h-100 row-pad">
      {% for patient in patients %}
              <label for="{{ patient.aid }}" class="form-text">{{ patient.aid }}</label> 
              <ul class="list-group" id="{{ patient.aid }}">
                  <li class="list-group-item">Blood Pressure: {{ patient.p1 }}</li>
                  <li class="list-group-item">Incident Type: {{ patient.p2 }}</li>
              </ul>
      {% endfor %}
    </div>
  </div>
  
  
</div>


        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBALRLR27oYAQ4q5ZXncP4uIpS11VsK6NE&callback=initialize"></script>

{% endblock content%} 