{% extends "base.html" %}    


{% block style %}

{% endblock style %}


{% block content %}



<form>

	{% for id, question in questions.items %}
		<div class="form-group text-center">
			<label class="form-text"for="button1">{{question.prompt}}</label>

			{% if question.options is null %}
				<input type="text">
			{% else %}
				{% for option in question.options %}
					<input type="button" class = "btn btn-danger button-form" id="button1" value="{{option}}">
				{% endfor %}
			{% endif %}
		</div>
	{% endfor %}

	<div class = "row text-center">
		<form action="#"method="post">
			<input type="submit" class="btn btn-success button-confirm" value = "Submit" name ="submit_btn">
		</form>
	</div>
	
</form>
{% endblock content%} 